/LutEditor/obj
/LutEditor/bin/Debug/net6.0
/LutLib/obj
/LutLib/bin/Debug/net5.0
/LutLib/bin/Release/net5.0
/LutEditor/bin/Release/net6.0/LutEditor.dll
/LutEditor/bin/Release/net6.0/LutEditor.pdb
/LutEditor/bin/Release/net6.0/LutEditor.staticwebassets.runtime.json
/LutEditor/bin/Release/net6.0/LutLib.dll
/LutEditor/bin/Release/net6.0/LutLib.pdb
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Authorization.dll
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Components.Forms.dll
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Components.Web.dll
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Components.WebAssembly.dll
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Components.dll
/LutEditor/bin/Release/net6.0/Microsoft.AspNetCore.Metadata.dll
/LutEditor/bin/Release/net6.0/Microsoft.CSharp.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Configuration.Binder.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Configuration.Json.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Configuration.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Logging.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Options.dll
/LutEditor/bin/Release/net6.0/Microsoft.Extensions.Primitives.dll
/LutEditor/bin/Release/net6.0/Microsoft.JSInterop.WebAssembly.dll
/LutEditor/bin/Release/net6.0/Microsoft.JSInterop.dll
/LutEditor/bin/Release/net6.0/Microsoft.VisualBasic.Core.dll
/LutEditor/bin/Release/net6.0/Microsoft.VisualBasic.dll
/LutEditor/bin/Release/net6.0/Microsoft.Win32.Primitives.dll
/LutEditor/bin/Release/net6.0/Microsoft.Win32.Registry.dll
/LutEditor/bin/Release/net6.0/System.AppContext.dll
/LutEditor/bin/Release/net6.0/System.Buffers.dll
/LutEditor/bin/Release/net6.0/System.Collections.Concurrent.dll
/LutEditor/bin/Release/net6.0/System.Collections.Immutable.dll
/LutEditor/bin/Release/net6.0/System.Collections.NonGeneric.dll
/LutEditor/bin/Release/net6.0/System.Collections.Specialized.dll
/LutEditor/bin/Release/net6.0/System.Collections.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.Annotations.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.DataAnnotations.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.EventBasedAsync.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.Primitives.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.TypeConverter.dll
/LutEditor/bin/Release/net6.0/System.ComponentModel.dll
/LutEditor/bin/Release/net6.0/System.Configuration.dll
/LutEditor/bin/Release/net6.0/System.Console.dll
/LutEditor/bin/Release/net6.0/System.Core.dll
/LutEditor/bin/Release/net6.0/System.Data.Common.dll
/LutEditor/bin/Release/net6.0/System.Data.DataSetExtensions.dll
/LutEditor/bin/Release/net6.0/System.Data.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.Contracts.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.Debug.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.DiagnosticSource.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.FileVersionInfo.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.Process.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.StackTrace.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.TextWriterTraceListener.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.Tools.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.TraceSource.dll
/LutEditor/bin/Release/net6.0/System.Diagnostics.Tracing.dll
/LutEditor/bin/Release/net6.0/System.Drawing.Primitives.dll
/LutEditor/bin/Release/net6.0/System.Drawing.dll
/LutEditor/bin/Release/net6.0/System.Dynamic.Runtime.dll
/LutEditor/bin/Release/net6.0/System.Formats.Asn1.dll
/LutEditor/bin/Release/net6.0/System.Globalization.Calendars.dll
/LutEditor/bin/Release/net6.0/System.Globalization.Extensions.dll
/LutEditor/bin/Release/net6.0/System.Globalization.dll
/LutEditor/bin/Release/net6.0/System.IO.Compression.Brotli.dll
/LutEditor/bin/Release/net6.0/System.IO.Compression.FileSystem.dll
/LutEditor/bin/Release/net6.0/System.IO.Compression.ZipFile.dll
/LutEditor/bin/Release/net6.0/System.IO.Compression.dll
/LutEditor/bin/Release/net6.0/System.IO.FileSystem.AccessControl.dll
/LutEditor/bin/Release/net6.0/System.IO.FileSystem.DriveInfo.dll
/LutEditor/bin/Release/net6.0/System.IO.FileSystem.Primitives.dll
/LutEditor/bin/Release/net6.0/System.IO.FileSystem.Watcher.dll
/LutEditor/bin/Release/net6.0/System.IO.FileSystem.dll
/LutEditor/bin/Release/net6.0/System.IO.IsolatedStorage.dll
/LutEditor/bin/Release/net6.0/System.IO.MemoryMappedFiles.dll
/LutEditor/bin/Release/net6.0/System.IO.Pipelines.dll
/LutEditor/bin/Release/net6.0/System.IO.Pipes.AccessControl.dll
/LutEditor/bin/Release/net6.0/System.IO.Pipes.dll
/LutEditor/bin/Release/net6.0/System.IO.UnmanagedMemoryStream.dll
/LutEditor/bin/Release/net6.0/System.IO.dll
/LutEditor/bin/Release/net6.0/System.Linq.Expressions.dll
/LutEditor/bin/Release/net6.0/System.Linq.Parallel.dll
/LutEditor/bin/Release/net6.0/System.Linq.Queryable.dll
/LutEditor/bin/Release/net6.0/System.Linq.dll
/LutEditor/bin/Release/net6.0/System.Memory.dll
/LutEditor/bin/Release/net6.0/System.Net.Http.Json.dll
/LutEditor/bin/Release/net6.0/System.Net.Http.dll
/LutEditor/bin/Release/net6.0/System.Net.HttpListener.dll
/LutEditor/bin/Release/net6.0/System.Net.Mail.dll
/LutEditor/bin/Release/net6.0/System.Net.NameResolution.dll
/LutEditor/bin/Release/net6.0/System.Net.NetworkInformation.dll
/LutEditor/bin/Release/net6.0/System.Net.Ping.dll
/LutEditor/bin/Release/net6.0/System.Net.Primitives.dll
/LutEditor/bin/Release/net6.0/System.Net.Quic.dll
/LutEditor/bin/Release/net6.0/System.Net.Requests.dll
/LutEditor/bin/Release/net6.0/System.Net.Security.dll
/LutEditor/bin/Release/net6.0/System.Net.ServicePoint.dll
/LutEditor/bin/Release/net6.0/System.Net.Sockets.dll
/LutEditor/bin/Release/net6.0/System.Net.WebClient.dll
/LutEditor/bin/Release/net6.0/System.Net.WebHeaderCollection.dll
/LutEditor/bin/Release/net6.0/System.Net.WebProxy.dll
/LutEditor/bin/Release/net6.0/System.Net.WebSockets.Client.dll
/LutEditor/bin/Release/net6.0/System.Net.WebSockets.dll
/LutEditor/bin/Release/net6.0/System.Net.dll
/LutEditor/bin/Release/net6.0/System.Numerics.Vectors.dll
/LutEditor/bin/Release/net6.0/System.Numerics.dll
/LutEditor/bin/Release/net6.0/System.ObjectModel.dll
/LutEditor/bin/Release/net6.0/System.Private.CoreLib.dll
/LutEditor/bin/Release/net6.0/System.Private.DataContractSerialization.dll
/LutEditor/bin/Release/net6.0/System.Private.Runtime.InteropServices.JavaScript.dll
/LutEditor/bin/Release/net6.0/System.Private.Uri.dll
/LutEditor/bin/Release/net6.0/System.Private.Xml.Linq.dll
/LutEditor/bin/Release/net6.0/System.Private.Xml.dll
/LutEditor/bin/Release/net6.0/System.Reflection.DispatchProxy.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Emit.ILGeneration.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Emit.Lightweight.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Emit.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Extensions.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Metadata.dll
/LutEditor/bin/Release/net6.0/System.Reflection.Primitives.dll
/LutEditor/bin/Release/net6.0/System.Reflection.TypeExtensions.dll
/LutEditor/bin/Release/net6.0/System.Reflection.dll
/LutEditor/bin/Release/net6.0/System.Resources.Reader.dll
/LutEditor/bin/Release/net6.0/System.Resources.ResourceManager.dll
/LutEditor/bin/Release/net6.0/System.Resources.Writer.dll
/LutEditor/bin/Release/net6.0/System.Runtime.CompilerServices.Unsafe.dll
/LutEditor/bin/Release/net6.0/System.Runtime.CompilerServices.VisualC.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Extensions.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Handles.dll
/LutEditor/bin/Release/net6.0/System.Runtime.InteropServices.RuntimeInformation.dll
/LutEditor/bin/Release/net6.0/System.Runtime.InteropServices.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Intrinsics.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Loader.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Numerics.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Serialization.Formatters.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Serialization.Json.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Serialization.Primitives.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Serialization.Xml.dll
/LutEditor/bin/Release/net6.0/System.Runtime.Serialization.dll
/LutEditor/bin/Release/net6.0/System.Runtime.dll
/LutEditor/bin/Release/net6.0/System.Security.AccessControl.dll
/LutEditor/bin/Release/net6.0/System.Security.Claims.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.Algorithms.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.Cng.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.Csp.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.Encoding.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.OpenSsl.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.Primitives.dll
/LutEditor/bin/Release/net6.0/System.Security.Cryptography.X509Certificates.dll
/LutEditor/bin/Release/net6.0/System.Security.Principal.Windows.dll
/LutEditor/bin/Release/net6.0/System.Security.Principal.dll
/LutEditor/bin/Release/net6.0/System.Security.SecureString.dll
/LutEditor/bin/Release/net6.0/System.Security.dll
/LutEditor/bin/Release/net6.0/System.ServiceModel.Web.dll
/LutEditor/bin/Release/net6.0/System.ServiceProcess.dll
/LutEditor/bin/Release/net6.0/System.Text.Encoding.CodePages.dll
/LutEditor/bin/Release/net6.0/System.Text.Encoding.Extensions.dll
/LutEditor/bin/Release/net6.0/System.Text.Encoding.dll
/LutEditor/bin/Release/net6.0/System.Text.Encodings.Web.dll
/LutEditor/bin/Release/net6.0/System.Text.Json.dll
/LutEditor/bin/Release/net6.0/System.Text.RegularExpressions.dll
/LutEditor/bin/Release/net6.0/System.Threading.Channels.dll
/LutEditor/bin/Release/net6.0/System.Threading.Overlapped.dll
/LutEditor/bin/Release/net6.0/System.Threading.Tasks.Dataflow.dll
/LutEditor/bin/Release/net6.0/System.Threading.Tasks.Extensions.dll
/LutEditor/bin/Release/net6.0/System.Threading.Tasks.Parallel.dll
/LutEditor/bin/Release/net6.0/System.Threading.Tasks.dll
/LutEditor/bin/Release/net6.0/System.Threading.Thread.dll
/LutEditor/bin/Release/net6.0/System.Threading.ThreadPool.dll
/LutEditor/bin/Release/net6.0/System.Threading.Timer.dll
/LutEditor/bin/Release/net6.0/System.Threading.dll
/LutEditor/bin/Release/net6.0/System.Transactions.Local.dll
/LutEditor/bin/Release/net6.0/System.Transactions.dll
/LutEditor/bin/Release/net6.0/System.ValueTuple.dll
/LutEditor/bin/Release/net6.0/System.Web.HttpUtility.dll
/LutEditor/bin/Release/net6.0/System.Web.dll
/LutEditor/bin/Release/net6.0/System.Windows.dll
/LutEditor/bin/Release/net6.0/System.Xml.Linq.dll
/LutEditor/bin/Release/net6.0/System.Xml.ReaderWriter.dll
/LutEditor/bin/Release/net6.0/System.Xml.Serialization.dll
/LutEditor/bin/Release/net6.0/System.Xml.XDocument.dll
/LutEditor/bin/Release/net6.0/System.Xml.XPath.XDocument.dll
/LutEditor/bin/Release/net6.0/System.Xml.XPath.dll
/LutEditor/bin/Release/net6.0/System.Xml.XmlDocument.dll
/LutEditor/bin/Release/net6.0/System.Xml.XmlSerializer.dll
/LutEditor/bin/Release/net6.0/System.Xml.dll
/LutEditor/bin/Release/net6.0/System.dll
/LutEditor/bin/Release/net6.0/WindowsBase.dll
/LutEditor/*.user
*.user
